---
import Container from "@shared/ui/Container.astro";
import Button from "@shared/ui/Button.astro";
---

<div class="py-8">
	<Container>
		<div class="text-center">
			<Button variant="ghost" href="#how-it-works">
				See how it works &#8594;
			</Button>
		</div>
	</Container>
</div>
