---
import BaseLayout from "../layouts/BaseLayout.astro";
import NavBar from "@widgets/NavBar/NavBar.astro";
import HeroSection from "@widgets/Hero/HeroSection.astro";
import ProblemSection from "@widgets/Problem/ProblemSection.astro";
import SolutionOverviewSection from "@widgets/Solution/SolutionOverviewSection.astro";
import PipelineSection from "@widgets/Pipeline/PipelineSection.astro";
import DeepDiveArchitectureSection from "@widgets/DeepDives/DeepDiveArchitectureSection.astro";
import DeepDiveQualitySection from "@widgets/DeepDives/DeepDiveQualitySection.astro";
import DeepDivePipelineSection from "@widgets/DeepDives/DeepDivePipelineSection.astro";
import HowItWorksSection from "@widgets/HowItWorks/HowItWorksSection.astro";
import ModulesSection from "@widgets/Modules/ModulesSection.astro";
import PricingSection from "@widgets/Pricing/PricingSection.astro";
import AuthorSection from "@widgets/Author/AuthorSection.astro";
import DefinitionSection from "@widgets/Definition/DefinitionSection.astro";
import FaqSection from "@widgets/Faq/FaqSection.astro";
import FinalCtaSection from "@widgets/FinalCta/FinalCtaSection.astro";
import GhostCtaSection from "@widgets/GhostCta/GhostCtaSection.astro";
import DashboardSection from "@widgets/Dashboard/DashboardSection.astro";
import FooterSection from "@widgets/Footer/FooterSection.astro";
---

<BaseLayout>
	<NavBar />
	<main>
		{/* 1. Hero */}
		<HeroSection />
		{/* 2. Problem */}
		<ProblemSection />
		{/* 3. Solution Overview */}
		<SolutionOverviewSection />
		{/* 4. Pipeline Visualization (NEW) */}
		<PipelineSection />
		<GhostCtaSection label="Start with forge-core" href="#pricing" ctaLocation="ghost_1" />
		{/* 5. Deep: forge-core */}
		<DeepDiveArchitectureSection />
		{/* 6. Deep: forge-autopilot */}
		<DeepDiveQualitySection />
		{/* 7. Deep: forge-qa */}
		<DeepDivePipelineSection />
		<GhostCtaSection label="See pricing" href="#pricing" ctaLocation="ghost_2" />
		{/* 8. How It Works */}
		<HowItWorksSection />
		{/* 9. Module Grid */}
		<ModulesSection />
		<GhostCtaSection label="Get started in 5 minutes" href="#pricing" ctaLocation="ghost_3" />
		{/* 10. Dashboard */}
		<DashboardSection />
		{/* 11. Pricing */}
		<PricingSection />
		{/* 11. Author */}
		<AuthorSection />
		{/* Definition for AI SEO */}
		<DefinitionSection />
		{/* 12. FAQ */}
		<FaqSection />
		{/* 13. Final CTA */}
		<FinalCtaSection />
	</main>
	<FooterSection />
</BaseLayout>
